<div class='container center'>
  <h1>Salon-Assist</h1>
  <p>Your Virtual Receptionist</p>
  <br />
  <%= link_to 'Sign In', new_employee_session_path, class: "btn" %>
  <%= link_to 'Sign-up', new_employee_registration_path, class: "btn" %>
  <%= link_to 'Logout', destroy_employee_session_path, method: :delete, class: "btn" %>
</div>


